@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url("./assets/img/will.webp");
}

.willemTop {
    width: 200px; 
    height: 200px;     
    overflow: hidden;   
    border-radius: 0%;  
    margin: 0 auto;      
    border: 20px solid green; 
    box-shadow: inset;
}

.willemTop img {
    width: 100%;         
    height: auto;       
}

.willemBottom {
    width: 200px;        
    height: 200px;       
    overflow: hidden;   
    border-radius: 0%;  
    margin: 0 auto;    
    border: 20px solid green; 
    box-shadow: inset;
}

.willemBottom img {
    width: 100%;
    height: auto;        
}